nav
  ul
    li
      a(href='#home') 
        img(src="images/globe-logo.svg")
    li
      a(href='/') Home
    li 
      a(href='/podcast') Podcast
    li 
      a(href='/live-series') Live series
  