mixin link(href)
  li(class=page.url==href ? 'active' : '')
    a(href=href)
      block

nav
  ul
    +link('/')
      img(src="/images/globe-logo.svg")
    +link('/') About
    +link('/podcast/') Podcast
    +link('/live-series/') Live series
