mixin link(href)
  a(class=page.url==href ? 'active' : '' href=href)
    block

header
  nav#main-nav
    +link('/')
      img(src="/images/globe-logo.svg")
    .dropdown-link-container
      +link('/') About
      +link('/podcast/') Podcast
      +link('/live/') Live series
      +link('https://bytesofgood.substack.com/p/coming-soon?r=oz23g&utm_campaign=post&utm_medium=web&utm_source=copy') Newsletter
    button#mobile-dropdown-toggle(aria-hidden="true")
      .stripe-top
      .stripe-middle
      .stripe-bottom
