section#contact
  .contact-content
    hgroup
      h2 Contact us 
      h3 Hear about the next pod!
    p Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. 
    .input-box
      input(type="email" id="email" placeholder="johnnydogooder@tech.club")
      input(type="submit" id="submit" value="Sign up")

  .contact-graphic   
    include vector.svg