include floating-icons.pug

.purple-background
  section#home 
    .header-content
      h1 BYTES OF GOOD
        include ../../heart-logo.svg
      p We're sparking conversation at the underserved intersection of tech and social good.
      a.cta-link(href="#listen") Listen now

    .header-graphic
      include ./woman-arms-outstretched.svg
      +floating-icon('heart')
      +floating-icon('megaphone')
      +floating-icon('brush')
