include svgs.pug

.purple-background
  section#home 
    .header-content
      h1 BYTES OF GOOD
        include ./logo.svg
      p We are a podcast at the underserved intersection of tech and social good.
      a.cta-link(href="#listen") Listen now

    .header-graphic
      +main-graphic
      +floating-icon('heart')
      +floating-icon('megaphone')
      +floating-icon('brush')
