include svgs.pug

.purple-background
  section#home 
    .header-content
      h1 Bytes of Good
      p We’re starting a pod at the underserved intersection of tech and social good.
      a.cta-link(href="#contact") Sign me up!

    .header-graphic
      +main-graphic
      +floating-icon('heart')
      +floating-icon('megaphone')
      +floating-icon('brush')
