@import '_imports/nav.scss';
@import '_imports/footer.scss';
@import '_imports/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap');

html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  padding: 0;
  margin: 0;
  letter-spacing: 0.03em;
  color: $black;
  font-size: 24px;
}

main {
  margin-top: $nav-height;
  overflow: hidden;

  @media (max-width: $mobile-breakpoint) {
    margin-top: $mobile-nav-height;
  }
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 80px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
}

hgroup {
  h2 {
    font-size: 24px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 60px;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  body {
    font-size: 18px;
  }

  hgroup {
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 40px;
    }
  }
}

a,
button {
  cursor: pointer;
}

.purple-background {
  background-color: $purple;
}

.mint-background {
  background-color: $mint;
}

.section-bottom-vector {
  width: 100%;
  height: 8vh;
  margin: -0.04rem 0;
  display: block;
  z-index: -1;
}

section {
  max-width: $content-max-width;
  margin: auto;
  padding: 120px 30px;
  position: relative;
  scroll-margin-top: 5rem;
}
