@import 'variables.scss';

@media (max-width: $mobile-breakpoint) {
  $mobile-nav-height: 60px;
  nav {
    height: $mobile-nav-height;
  }
  main {
    margin-top: $mobile-nav-height;
  }
}

nav {
  height: $nav-height;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $purple;
  font-family: $header-font;
  font-size: 22px;

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
    height: 60px;
  }

  display: flex;
  justify-content: center;
  transition: background-color 0.2s, box-shadow 0.2s;
  color: #ffffff;

  &.white {
    background-color: white;
    color: $purple;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);

    ul li::after {
      background-color: $purple;
    }

    img {
      display: initial;
    }
  }

  img {
    display: none;
    height: 40px;
    width: auto;
  }

  ul {
    display: flex;
    width: 100%;
    align-items: stretch;
    list-style-type: none;
    list-style: none;
    max-width: $content-max-width;
    margin: auto;
    margin: 0;
    padding: 0;

    li {
      margin: 0 30px;
      display: flex;
      align-items: center;
      position: relative;

      @media (max-width: $mobile-breakpoint) {
        margin: 0 20px;
      }

      &:first-of-type {
        margin-right: auto;
        display: flex;
        align-items: center;

        &::after {
          display: none;
        }
      }

      a,
      a:hover {
        line-height: 0;
        color: inherit;
        text-decoration: none;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 10px;
        background-color: white;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;

        @media (max-width: $mobile-breakpoint) {
          height: 5px;
          bottom: -2px;
        }
      }

      &:hover::after,
      &.active::after {
        transform: scaleX(1);
      }
    }
  }
}
