section#listen
  div
    hgroup
      h2 Listen in
      h3 Hear about the next pod!
    p We just launched our pilot episode, and we're super excited to share new content with you. Sign up for the newsletter to hear when the next one drops!
    form.input-box(action="https://bitsofgood.us16.list-manage.com/subscribe/post")
      input(type="email" name="MERGE0" required placeholder="johnnydogooder@tech.club")
      button(type="submit") Sign up

  .graphic   
    include vector.svg