section#listen
  div
    hgroup
      h2 Listen in
      h3 Hear about the next pod!
    p We just launched our pilot episode, and we're super excited to share new content with you. Sign up for the newsletter to hear when the next one drops!
    form.input-box(action="https://bytesofgood.us17.list-manage.com/subscribe/post?u=f13e34662dc94ce7ae94e55bf&amp;id=e93f6c8f61" method="post")
      input(type="email" name="EMAIL" required placeholder="johnnydogooder@tech.club")
      button(type="submit") Sign up

  .graphic   
    include vector.svg