include ../../vectors.pug

.mint-background
  section#team
    hgroup
      h2 Our Team
      h3 Meet the star-studded cast

    .team-members
      each member in team
        .member
          .member-img
            .img-wrapper
              img(src='/images/team/' + member.image)
            h3 #{member.name} 
          p.description #{member.description}
          each socialLink in member.socialLinks
            a.social-link(target="_blank" href=socialLink.href
                          aria-label=member.name + ' ' + socialLink.name)
              +icon(socialLink.name)