section#about
  hgroup
    h2 About Us
    h3 Hack4Impact meets Impact Labs

  .description-container
    a.description(href="https://hack4impact.org")
      img(src="static/hack4impact.jpg" alt="Hack4Impact logo")
      p
        strong A national organization
        br
        | partnering students with nonprofits to build powerful tech
    a.description(href="https://impactlabs.io")
      img(src="static/impact-labs.svg" alt="Impact Labs logo")
      p
        strong A social good powerhouse
        br
        | hosting a fellowship, summit speaker series, and more

  h3.powers-combined-heading With our powers combined...
  p.powers-combined-description
    :markdown-it(inline)
      We're ready to tackle issues surrounding the world's most **underserved communities and causes.** This podcast is meant to expose these areas of need and discuss how software solutions have made an impact. We strive to motivate our listeners to get involved in any capacity, from simply spreading awareness to offering new career tragectories.

  .powers-combined-image(aria-label="Two people talking with charts and UI mockups behind them")
    include about-people-image.svg
