section#contact
  .contact-content
    hgroup
      h2 Contact us 
      h3 Hear about the next pod!
    p Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. Get in contact plz. 
  .contact-graphic   
    +home-graphic