include home-graphics.pug

.purple-background
  section#home 
    .header-content
      h1 Bytes of Good
      p We’re starting a pod at the underserved intersection of tech and social good.
      a.cta-link(href="#contact") Sign me up!

    .header-graphic
      +home-graphic
      +home-graphic-accents('heart')
      +home-graphic-accents('megaphone')
      +home-graphic-accents('brush')
