section#listen
  div
    hgroup
      h2 Listen in
      h3 Catch us live!
    p We post all our podcasts over on Spotify, and broadcast our "live series" interviews on YouTube. 
      if rsvpLink
        | #[a(href=rsvpLink) RSVP to our next live broadcast] to join the discussion!
    .cta-container
      a(href="/podcast")
        include megaphone.svg
        span Listen in to the podcast
      a(href="/live")
        include video-camera.svg
        span Watch the latest broadcasts

  .graphic   
    include vector.svg