@import 'variables.scss';

#home {
  margin-top: 0;
  min-height: 550px;
  max-height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  $tablet-breakpoint: 1050px;

  @media (max-width: $mobile-breakpoint) {
    padding-top: 70px;
  }

  @media (max-width: $tablet-breakpoint) {
    justify-content: center;
  }

  .header-content {
    max-width: 450px;

    h1 {
      svg {
        margin-left: 34px;
      }
      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 20px;

        svg {
          display: block;
          margin: auto;
          margin-top: 15px;
        }
      }
    }

    p {
      font-size: 28px;
      margin-bottom: 70px;

      @media (max-width: 1100px) {
        font-size: 24px;
      }
    }

    @media (max-width: $tablet-breakpoint) {
      text-align: center;
      margin: auto;
    }

    @media (max-width: 400px) {
      .cta-link {
        box-shadow: $cta-drop-shadow;
        position: absolute;
        bottom: -40px;
        left: 15%;
        right: 15%;
      }
    }
  }

  .header-graphic {
    position: relative;
    flex: 1;
    height: 100%;
    max-width: 700px;

    @media (max-width: $tablet-breakpoint) {
      position: absolute;
      pointer-events: none;
      width: 105vw;

      .woman-arms-outstretched {
        display: none;
      }
    }

    .floating-icon {
      position: absolute;
      transform: scale(0);
      transition: transform 0.3s;

      &.animate {
        transform: scale(1);
        animation: float 3s ease-in-out infinite;
      }
      &.heart {
        top: 0;
        right: 5%;
        animation-delay: 0.3s;

        @media (max-width: $tablet-breakpoint) {
          top: 5%;
          right: 0;
          height: 75px;
          width: 75px;
        }
      }
      &.megaphone {
        top: 40%;
        left: 0;
        animation-delay: 0.7s;

        @media (max-width: $tablet-breakpoint) {
          height: 75px;
          width: 75px;
        }
      }
      &.brush {
        top: 70%;
        right: 25%;
        animation-delay: 1.3s;

        @media (max-width: $tablet-breakpoint) {
          right: 5%;
          top: 85%;
        }
      }

      @keyframes float {
        0%,
        100% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-5px, -20px);
        }
      }
    }
  }
}
