@import 'variables.scss';

$mobile-breakpoint: 750px;

header {
  background-color: $purple;
  height: $nav-height;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: $header-font;
  font-size: 22px;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;

  a > img {
    visibility: hidden;
    height: 40px;
    width: auto;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 32px;
    height: $mobile-nav-height;
  }

  &.white {
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);

    @media (min-width: $mobile-breakpoint) {
      color: $purple;
      .dropdown-link-container > a::after {
        background-color: $purple;
      }
    }
    img {
      visibility: visible;
    }

    nav > #mobile-dropdown-toggle > * {
      border-color: $purple;
    }
  }
}

nav {
  height: 100%;
  max-width: $content-max-width;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  // logo styling
  > a {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
  }

  #mobile-dropdown-toggle {
    margin-left: auto;
    display: none;

    @media (max-width: $mobile-breakpoint) {
      display: flex;
    }

    height: 24px;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0 20px;

    background: none;
    border: none;

    * {
      width: inherit;
      border-bottom: 4px solid white;
      transition: transform 0.2s, opacity 0.2s;
    }

    .stripe-top {
      transform-origin: top right;
    }

    .stripe-bottom {
      transform-origin: bottom right;
    }
  }

  .dropdown-link-container {
    display: flex;
    align-items: center;

    > a {
      margin: 0 30px;
      position: relative;
      height: 30px;
      // prevent underline accent from pushing link up
      transform: translateY(60%);

      &,
      &:visited {
        line-height: 0;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color: inherit;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 10px;
        background-color: white;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;

        @media (max-width: $mobile-breakpoint) {
          height: 5px;
          bottom: -2px;
        }
      }

      &:hover::after,
      &.active::after {
        transform: scaleX(1);
      }
      @media (max-width: $mobile-breakpoint) {
        margin: 20px 0;
      }
    }
    @media (max-width: $mobile-breakpoint) {
      /* first, make our dropdown cover the screen */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      /* fix nav height on mobile safari, where 100vh is a little off */
      height: -webkit-fill-available;

      /* then, arrange our links top to bottom */
      display: flex;
      flex-direction: column;
      /* center links vertically, push to the right horizontally.
         this means our links will line up with the rightward hamburger button */
      justify-content: center;
      align-items: flex-end;

      /* add margins and padding to taste */
      margin: 0;
      padding-left: 7vw;
      padding-right: 7vw;

      background: $purple;

      z-index: 0;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%); /* move out of view */
      transition-property: opacity, visibility, transform;
      transition-duration: 0.2s;
    }
  }
  @media (max-width: $mobile-breakpoint) {
    justify-content: space-between;
    &.dropdown-opened {
      #mobile-dropdown-toggle {
        .stripe-top {
          transform: rotate(-45deg);
        }
        .stripe-bottom {
          transform: rotate(45deg);
        }
        .stripe-middle {
          transform: scaleX(0);
        }
      }
      > .dropdown-link-container {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    > a,
    #mobile-dropdown-toggle {
      z-index: 1;
    }

    a {
      margin: 100px 10px;
    }
  }
}
