$content-max-width: 1400px;
$header-font: 'Varela Round', 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;
$purple: #8600f0;
$mint: #a1e4d4;
$black: #171717;

$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;

$nav-height: 70px;
$mobile-nav-height: 56px;
