section#about
  hgroup
    h2 About Us
    h3 Hack4Impact meets Impact Labs

  .description-container
    .description
      img(src="static/hack4impact.jpg" alt="Hack4Impact logo")
      p
        strong A national organization
        br
        | partnering students with nonprofits to build powerful tech
    .description
      img(src="static/impact-labs.svg" alt="Impact Labs logo")
      p
        strong A social good powerhouse
        br
        | hosting a fellowship, summit speaker series, and more

  h3.powers-combined-heading With our powers combined...
  p.powers-combined-description
    :markdown-it(inline)
      They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. They do good together. 