.purple-background
  section#footer
    .footer-content
      h3 Who should be on our next show?
      p Want to come on the pod, or have a guest you're dying to hear? Email us at <a href="mailto: podcast@hack4impact.org"><b>podcast@hack4impact.org</b></a>
    .footer-links
      ul 
        h3 Impact Labs
        li 
          a(href='#') Github
        li 
          a(href='#') Twitter
        li 
          a(href='#') LinkedIn
      ul 
        h3 Hack4Impact
        li 
          a(href='#') Github
        li 
          a(href='#') Twitter
        li 
          a(href='#') LinkedIn
