<!DOCTYPE html>
html(lang="en-US")
  head
    title Impact Podcast
    link(rel="stylesheet" href="styles.css")
    meta(name='viewport' content='width=device-width,initial-scale=1.0')

  body
    main
      h1 Very cool!

      p It works :)

      section.about
        include about.pug

      section.team
        include team.pug

      section.contact
        include contact.pug

script(src="not-a-react-bundle.js")