---
title: Bytes of Good
layout: layout
styles: home
---

include _includes/vectors.pug

include _includes/home/heading/index
+section-color-transition('purple-to-white')

include _includes/home/about/index
+section-color-transition('white-to-mint')

include _includes/home/team/index
+section-color-transition('mint-to-white')

include _includes/home/listen/index