include vectors.pug

<!DOCTYPE html>
html(lang="en-US")
  head
    title Impact Podcast
    link(rel="stylesheet" href="styles.css")
    meta(name='viewport' content='width=device-width,initial-scale=1.0')

  body
    main
      include nav.pug

      include home.pug
      +section-color-transition('purple-to-white')

      include about.pug
      +section-color-transition('white-to-mint')

      include team.pug
      +section-color-transition('mint-to-white')

      section.contact#contact
        include contact.pug
      +section-color-transition('white-to-purple')

script(src="not-a-react-bundle.js" defer)
if env === 'dev'
  script(src="http://localhost:" + liveReloadPort + "/livereload.js?snipver=1")