include vectors.pug

<!DOCTYPE html>
html(lang="en-US")
  head
    title Bytes of Good
    link(rel="stylesheet" href="styles.css")
    meta(name='viewport' content='width=device-width,initial-scale=1.0')

  body
    main
      include nav.pug

      include sections/home.pug
      +section-color-transition('purple-to-white')

      include sections/about.pug
      +section-color-transition('white-to-mint')

      include sections/team.pug
      +section-color-transition('mint-to-white')

      include sections/contact.pug
      +section-color-transition('white-to-purple')

      include sections/footer.pug

script(src="not-a-react-bundle.js" defer)
if env === 'dev'
  script(src="http://localhost:" + liveReloadPort + "/livereload.js?snipver=1")