---
title: Podcast
layout: layout
styles: podcast
---

include _includes/vectors.pug
include _includes/episode.pug

.purple-background
  section.heading
    h1
      span.title Bytes of Good
      include _includes/heart-logo.svg
      span.green Podcast
    :markdown-it
      We cover topics across the social impact spectrum, with **incredible guests from all walks of life**. [Follow us on Spotify](https://open.spotify.com/show/1TNQDtwII6Uv5ojtkOQ7xh) to catch the next episode!
    .shownotes
      a(href="https://docs.google.com/document/d/1RABc9DFJ6s3y9JeHUW9mBiS_UfAc4ZW26FKPBzJ1Kac/edit" target="_blank" rel="noreferrer")
        span Check out our Show Notes for Summaries, and More!
  +section-color-transition('purple-to-white')

section.episodes
  each episode in episodes
    +episode(
      episode.publishedOn,
      episode.listenLink,
      episode.title,
      episode.description,
      episode.guestsCollection.items,
      episode.transcriptLink
    )