@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

$content-max-width: 1200px;

html {
  padding: 0;
  margin: 0;
}
h1 {
  color: red;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

section {
  max-width: $content-max-width;
  margin: auto;
}

nav {
  background-color: #8600f0;
  min-height: 80px;
  font-size: 24px;
  font-weight: 300;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    list-style: none;
    max-width: $content-max-width;
    margin: auto;
    margin: 0;
    padding: 0;

    li {
      padding-right: 60px;

      &:first-of-type {
        margin-right: auto;
      }

      a,
      a:hover {
        position: relative;
        color: #ffffff;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          height: 10px;
          background-color: white;

          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.5s;
          margin-bottom: -30px;
          border-radius: 10px;
        }

        &:hover::before,
        &.active::before {
          transform: scaleX(1);
        }
      }
    }
  }
}
