@import 'home/styles.scss';
@import 'about/styles.scss';
@import 'team/styles.scss';
@import 'listen/styles.scss';
@import 'footer/styles.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap');

html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  padding: 0;
  margin: 0;
  letter-spacing: 0.03em;
  color: $black;
  font-size: 24px;
}

$nav-height: 80px;

main {
  margin-top: $nav-height;
  overflow: hidden;
}

nav {
  height: $nav-height;
}

@media (max-width: $mobile-breakpoint) {
  $mobile-nav-height: 60px;
  nav {
    height: $mobile-nav-height;
  }
  main {
    margin-top: $mobile-nav-height;
  }
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $purple;
  font-size: 24px;

  @media (max-width: $mobile-breakpoint) {
    height: 60px;
    font-size: 16px;
  }

  display: flex;
  justify-content: center;
  transition: background-color 0.2s, box-shadow 0.2s;
  color: #ffffff;

  &.white {
    background-color: white;
    color: $purple;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);

    ul li::after {
      background-color: $purple;
    }

    img {
      display: initial;
    }
  }

  img {
    display: none;
    height: 40px;
    width: auto;
  }

  ul {
    display: flex;
    width: 100%;
    align-items: stretch;
    list-style-type: none;
    list-style: none;
    max-width: $content-max-width;
    margin: auto;
    margin: 0;
    padding: 0;

    li {
      margin: 0 30px;
      display: flex;
      align-items: center;
      position: relative;

      @media (max-width: $mobile-breakpoint) {
        margin: 0 20px;
      }

      &:first-of-type {
        margin-right: auto;
        display: flex;
        align-items: center;

        &::after {
          display: none;
        }
      }

      a,
      a:hover {
        line-height: 0;
        color: inherit;
        text-decoration: none;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 10px;
        background-color: white;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;

        @media (max-width: $mobile-breakpoint) {
          height: 5px;
          bottom: -2px;
        }
      }

      &:hover::after,
      &.active::after {
        transform: scaleX(1);
      }
    }
  }
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h1 {
  margin-top: 0;
  font-size: 80px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
}

hgroup {
  h2 {
    font-size: 24px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 60px;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  body {
    font-size: 18px;
  }

  hgroup {
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 40px;
    }
  }
}

a,
button {
  cursor: pointer;
}

.purple-background {
  background-color: $purple;
}

.mint-background {
  background-color: $mint;
}

.section-bottom-vector {
  width: 100%;
  height: 8vw;
  margin-bottom: -7px;
}

section {
  max-width: $content-max-width;
  margin: auto;
  padding: 120px 30px;
  position: relative;
  scroll-margin-top: 5rem;
}
