mixin vector(hexcode1, hexcode2)
  svg.section-bottom-vector(width="1440" height="100" viewBox="0 0 1440 100" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M1440 0L0 100V0H1440Z" fill=hexcode1)
    path(d="M0 100L1440 -6.10352e-05L1440 99.9999L0 100Z" fill=hexcode2)

mixin section-color-transition(color)
  if color === 'purple-to-white'
    +vector('#8600F0', 'white')
  else if color === 'white-to-mint'
    +vector('white', '#a1e4d4')
  else if color === 'mint-to-white'
    +vector('#a1e4d4', 'white')
  else if color === 'white-to-purple'
    +vector('white', '#8600F0')

mixin icon-square(vbSize=34, width=34, height=34)
  svg(xmlns="http://www.w3.org/2000/svg" fill="#5f4b32" width=width height=height viewBox="0 0 " + vbSize + " " + vbSize)
    block

mixin icon(name)
  if name === 'twitter'
    +icon-square
      <path d="M55.383,67.4a14.634,14.634,0,0,1-4.157,1.144,7.264,7.264,0,0,0,3.185-4.008,14.384,14.384,0,0,1-4.6,1.757,7.237,7.237,0,0,0-12.524,4.95,7.087,7.087,0,0,0,.187,1.652,20.514,20.514,0,0,1-14.924-7.574A7.253,7.253,0,0,0,24.8,75a7.07,7.07,0,0,1-3.29-.9v.09a7.245,7.245,0,0,0,5.809,7.1,7.287,7.287,0,0,1-1.907.254,6.829,6.829,0,0,1-1.361-.135,7.25,7.25,0,0,0,6.766,5.032,14.513,14.513,0,0,1-8.995,3.1,14.673,14.673,0,0,1-1.727-.1,20.234,20.234,0,0,0,11.081,3.275c13.331,0,20.613-11.043,20.613-20.621,0-.314-.007-.628-.022-.935A14.736,14.736,0,0,0,55.383,67.4Z" transform="translate(-20.1 -64)" fill="#171717"/>
  else if name === 'linkedin'
    +icon-square
      <path d="M31.281 0H2.90492C1.35504 0 0 1.11592 0 2.64809V31.0862C0 32.6272 1.35504 34 2.90492 34H31.2722C32.8309 34 34 32.6184 34 31.0862V2.64809C34.0088 1.11592 32.8309 0 31.281 0ZM10.5392 28.3407H5.66813V13.1961H10.5392V28.3407ZM8.27193 10.8935H8.23651C6.67777 10.8935 5.66813 9.73326 5.66813 8.2808C5.66813 6.80177 6.70434 5.66814 8.2985 5.66814C9.89267 5.66814 10.8669 6.79291 10.9023 8.2808C10.9023 9.73326 9.89267 10.8935 8.27193 10.8935ZM28.3407 28.3407H23.4696V20.0599C23.4696 18.0761 22.7611 16.721 20.9987 16.721C19.6525 16.721 18.8554 17.6332 18.5011 18.5189C18.3683 18.8377 18.3329 19.2717 18.3329 19.7145V28.3407H13.4618V13.1961H18.3329V15.304C19.0414 14.2943 20.1484 12.8419 22.7257 12.8419C25.9229 12.8419 28.3407 14.9497 28.3407 19.4931V28.3407V28.3407Z" fill="#171717"/>
  else if name === 'spotify'
    +icon-square(57, 57, 57)
      <path d="M28.5 0C20.9413 0 13.6922 3.00267 8.34746 8.34746C3.00267 13.6922 0 20.9413 0 28.5C0 36.0587 3.00267 43.3078 8.34746 48.6525C13.6922 53.9973 20.9413 57 28.5 57C36.0587 57 43.3078 53.9973 48.6525 48.6525C53.9973 43.3078 57 36.0587 57 28.5C57 20.9413 53.9973 13.6922 48.6525 8.34746C43.3078 3.00267 36.0587 0 28.5 0ZM41.5718 41.1054C41.4504 41.305 41.2908 41.4787 41.1021 41.6164C40.9135 41.7542 40.6995 41.8533 40.4724 41.9082C40.2453 41.9631 40.0096 41.9726 39.7789 41.9362C39.5481 41.8998 39.3268 41.8181 39.1277 41.696C32.4343 37.6073 24.0145 36.6835 14.0925 38.949C13.8652 39.0009 13.6299 39.0075 13.4 38.9685C13.1702 38.9295 12.9502 38.8455 12.7528 38.7215C12.5554 38.5975 12.3843 38.4358 12.2494 38.2456C12.1144 38.0555 12.0183 37.8406 11.9664 37.6133C11.9145 37.386 11.9078 37.1507 11.9469 36.9209C11.9859 36.691 12.0698 36.4711 12.1939 36.2736C12.3179 36.0762 12.4796 35.9051 12.6697 35.7702C12.8599 35.6353 13.0747 35.5391 13.302 35.4872C24.1569 33.0037 33.4701 34.0728 40.9812 38.6643C41.8172 39.1761 42.0807 40.2695 41.5718 41.1054ZM45.0548 33.3459C44.7466 33.8473 44.2522 34.2061 43.6799 34.3435C43.1076 34.4809 42.5042 34.3857 42.0019 34.0789C34.3423 29.3692 22.6637 28.0063 13.6019 30.7564C13.0505 30.8872 12.47 30.8028 11.9788 30.5204C11.4875 30.2381 11.1224 29.779 10.9578 29.2367C10.7933 28.6945 10.8418 28.1099 11.0933 27.6022C11.3449 27.0944 11.7806 26.7017 12.3116 26.5041C22.6637 23.3633 35.5296 24.8868 44.3249 30.29C44.574 30.4426 44.7906 30.6428 44.9623 30.8792C45.1339 31.1155 45.2573 31.3834 45.3254 31.6675C45.3935 31.9516 45.4049 32.2464 45.359 32.5349C45.3131 32.8234 45.2108 33.1 45.0579 33.3489L45.0548 33.3459ZM45.3607 25.2654C36.1717 19.8107 21.0161 19.3079 12.248 21.9732C11.9116 22.0805 11.5571 22.1199 11.2053 22.089C10.8534 22.0582 10.5112 21.9577 10.1986 21.7935C9.88588 21.6292 9.60898 21.4045 9.38393 21.1323C9.15888 20.8601 8.99017 20.5459 8.88762 20.2079C8.78506 19.8699 8.7507 19.5149 8.78654 19.1636C8.82237 18.8122 8.92768 18.4715 9.09635 18.1612C9.26502 17.8509 9.49368 17.5772 9.76904 17.356C10.0444 17.1348 10.361 16.9706 10.7004 16.8728C20.7647 13.8139 37.5013 14.4075 48.0744 20.6829C48.6825 21.0436 49.1224 21.6311 49.2973 22.316C49.4723 23.001 49.3679 23.7275 49.0073 24.3355C48.6466 24.9436 48.0592 25.3835 47.3742 25.5584C46.6892 25.7334 45.9627 25.629 45.3547 25.2684" fill="#171717"/>