mixin vector(hexcode1, hexcode2)
  svg.section-bottom-vector(width="1442" height="100" viewBox="0 0 1442 100" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" style="background: " + hexcode2)
    path(d="M1441.5 0L0 99.5V0H1441.5Z" fill=hexcode1)

mixin section-color-transition(color)
  if color === 'purple-to-white'
    +vector('#8600F0', 'white')
  else if color === 'white-to-mint'
    +vector('white', '#a1e4d4')
  else if color === 'mint-to-white'
    +vector('#a1e4d4', 'white')
  else if color === 'white-to-purple'
    +vector('white', '#8600F0')