.purple-background
  section#footer
    .footer-content
      h2 Who should be on our next show?
      p Want to come on the pod, or have a guest you're dying to hear? Email us at <a href="mailto: podcast@hack4impact.org"><b>podcast@hack4impact.org</b></a>
    .footer-links
      ul 
        h3 Impact Labs
        li 
          a(href='https://impactlabs.io' target="_blank") Homepage
        li 
          a(href='https://twitter.com/impactlabs_io' target="_blank") Twitter
        li 
          a(href='https://www.linkedin.com/company/impactlabs/' target="_blank") LinkedIn
      ul 
        h3 Hack4Impact
        li 
          a(href='https://hack4impact.org' target="_blank") Homepage
        li 
          a(href='https://www.linkedin.com/company/hack4impact/about/' target="_blank") LinkedIn
